<template name="delivery">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">For {{ recipientName }}</h2>
    </div>
    <div class="panel-body">
      <p>{{ date }}</p>
      <p>Driver: {{ driver }}</p>
      <p>Address: {{ address }}</p>
      <p>Recipient phone: {{ recipientPhone }}</p>
      <p>Special instructions: {{ specialInstructions }}</p>
      <p>Status: 
        {{#if completed}}
          Completed
        {{else}}
          {{#if started}}
          Started
          {{else}}
          Not started
          {{/if}}
        {{/if}}
      </p>
    </div>
  </div><!-- .panel -->
</template>